<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Glowty</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
    </head>
<body>
    <header>    
        <h1> Glowty</h1>
        <div>
            <button id="inicio"> Inicio </button>
            <button id="info"> ¿Quienes somos? </button>
            <button id="app"> Glowty </button>
            <button id="funcionamiento"> ¿Como funciona? </button>
            <button id="ayuda"> Ayuda </button>
        </div>
    </header>
    <script src="../scripts/scriptGlowty.js" defer></script>
</body>
</html>