<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
    <header>    
        <h1> Glowty</h1>
        <div>
            <button id="inicio"> Inicio </button>
            <button id="info"> ¿Quienes somos? </button>
            <button id="app"> Glowty </button>
            <button id="funcionamiento"> ¿Como funciona? </button>
            <button id="ayuda"> Ayuda </button>
        </div>
    </header>
    <section class="seccionLogin">
        <h1> Acceda a su cuenta</h1>
        <div class="divisorLogin">
            <button id="botonLogin">Iniciar Sesion</button>
            <button id="botonRegistro">Registrarse</button>
        </div>
    </section>    
    <script src="scripts/scriptMain.js" defer></script>
</body>
</html>