@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

*{
    font-family: 'Fredoka', sans-serif;
    color: #096266;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: #DAE3D9;
    margin: 0px;
    padding: 0px;
}
/* Encabezado de la pagina web*/
header {
    display: flex;
    width:100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin:auto;
    border-style: solid;
    border-radius: 1px;
    border-color: #b9c3b8;
    background-color: #b9c3b8;
}
header h1{
    font-size: 50px;
}
header div{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    gap:10%;
}
header div button, .divisorLogin button{
    font-size: medium;
    text-align: center;
    font-weight: bold;
    background-color: #b9c3b8;
    border-style: solid;
    border-color: #b9c3b8;
    transition: ease-out 0.15s;
    margin-bottom: 1.5%;
    border-radius: 25px;
    width: 120px;
    height: 50px;
}
header div button:hover, .divisorLogin button:hover{
    transform: scale(1.1);
    background-color: #DAE3D9;
    border-color: #DAE3D9;
}
/* Cuerpo de pagina */
.show {
    opacity: 1;
    /* Otras propiedades para mostrar el elemento */
}
.hide {
    opacity: 0;
    pointer-events: none; /* Para que no se pueda interactuar con él */
    /* Otras propiedades para ocultar el elemento */
}
/* Info */
.introImg{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.introImg div{
    width: 50%;
    font-weight: 500;
    margin-left: 5%;
    margin-bottom: 10%;
}
.introImg div h1{
    font-size: x-large;
    text-align: center;
}
.introImg div p{
    font-size: medium;
    text-align: justify;
}
.introImg img{
    width: 400px;
    height: 400px;
    margin-right: 5%;
}
/*Cuadro de login*/

.seccionLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin:auto;
    margin-top: 5%;
    border-style: solid;
    border-color: #b9c3b8;
    border-radius: 10px;
    background-color: #b9c3b8;
    padding: 2.5%;
}
.divisorLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}
/* Offer */

.offer div{
    text-align: center;
    font-size: xx-large;
}